# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: MalwareOWL
  description: Take a deep look in the world of a malware samples
  version: "0.1.0"
# the domain of the service
host: api.temporary.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json+ld
paths:
  /sparql:
    get:
      summary: Sparql endpoint
      description: |
        The sparql endpoint offers the possibility to interogate our knowledge graf based on Sparql queries.
      parameters:
        - name: query
          in: query
          description: Sparql query to process
          required: true
          type: string
      tags:
        - Sparql
      responses:
        200:
          description: A json+ld collection of RDF triples
          schema:
            type: array
            items:
              $ref: '#/definitions/Queryresult'
        206:
          description: Partial content - query to big.
        400:
          description: Bad request - incorect sparql query
          schema:
            $ref: '#/definitions/Error'
        204:
          description: No content
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /process/file:
    post:
      summary: File submission
      description: Endpoint for submitting files for analysis.
      parameters:
        - name: file
          in: formData
          description: The file to be submitted.
          type: file
        - name: email
          in: formData
          description: Email to be accesed upon completion.
          type: string
      responses:
        201:
          description: File was succesfully submited.
        304:
          description: Not modified - file already processed.
        400:
          description: Error at processing the file.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /process/hash:
    post:
      summary: Hash submission
      description: Endpoint for requesting hash analysis.
      parameters:
        - name: hash
          in: formData
          description: The hash to be analysed.
          type: string
        - name: email
          in: formData
          description: Email to be accesed upon completion.
          type: string
      tags:
        - Submission
      responses:
        201:
          description: Hash was succesfully submited.
        304:
          description: Not modified - file already processed.
        400:
          description: Error at processing the hash.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /sim/{hash}/{procentage}/{sequence}:
    get:
      summary: Similarity endpoint
      description: Computes various similarity properties for a hash and a certain property level.
      parameters:
        - name: hash
          in: path
          required: true
          description: The target hash.
          type: string
        - name: procentage
          in: path
          required: true
          description: The similarity procentage to be used in the query.
          type: integer
        - name: sequence
          in: path
          required: true
          description: The level sequence.
          type: string
      tags:
        - Similarity
      responses:
        200:
          description: Request all good.
          schema:
            $ref: '#/definitions/Similarityresult'
        204:
          description: No content.
        206:
          description: Partial content.
        400:
          description: Bad request. Error at processing the similarity request.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /value/hash/{hash}/{sequence}:
    get:
      summary: Value endpoint
      description: Retrives the value of a certain property for a certain hash.
      parameters:
        - name: hash
          in: path
          required: true
          description: The target hash.
          type: string
        - name: sequence
          in: path
          required: true
          description: The level sequence.
          type: string
      tags:
        - Value
      responses:
        200:
          description: Request all good.
          schema:
            $ref: '#/definitions/Valueresult'
        204:
          description: No content.
        206:
          description: Partial content.
        400:
          description: Bad request. Error at processing the value request.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /value/sim/{value}/{sequence}:
    get:
      summary: Value similarity endpoint
      description: Retrives the entities related to the value.
      parameters:
        - name: value
          in: path
          required: true
          description: The target hash.
          type: string
        - name: sequence
          in: path
          required: true
          description: The level sequence.
          type: string
      tags:
        - Similarity
        - Value
      responses:
        200:
          description: Request all good.
          schema:
            $ref: '#/definitions/ValueSymresult'
        204:
          description: No content.
        206:
          description: Partial content.
        400:
          description: Bad request. Error at processing the value request.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /multisym/{hash}:
    get:
      summary: Hash multivalue similarity endpoint
      description: Retrives the similar entities which related to the current target via multiple specified values.
      parameters:
        - name: hash
          in: path
          required: true
          description: The target hash.
          type: string
        - name: sequences
          in: body
          required: true
          description: The level sequence.
          schema:
            required:
              - values
            properties:
              values:
                type: array
                items:
                  type: string
      tags:
        - Similarity
      responses:
        200:
          description: Request all good.
          schema:
            $ref: '#/definitions/Similarityresult'
        204:
          description: No content.
        206:
          description: Partial content.
        400:
          description: Bad request. Error at processing the value request.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not found.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
            
definitions:
  Queryresult:
    type: object
    properties:
      result:
        type: object
        description: The object containing the result of the query
      timestamp:
        type: integer
        description: Timestamp of the result
  Similarityresult:
    type: object
    properties:
      hash_array:
        type: array
        items:
          type: object
          description: An object entry
          properties:
            url: 
              type: string
              description: The url to the interogation for that particular hash.
            procentage:
              type: integer
              description: The procentage of similarity with the original hash.
        description: An array of files that match a certain procentage of similarity
        
  Valueresult:
    type: object
    properties:
      values:
        type: array
        items:
          type: string
        description: An array of URL's towards specific properties values describing the level sequence specified.
        
  ValueSymresult:
    type: object
    properties:
      entities:
        type: array
        items:
          type: string
        description: An array of URL's towards specific entities which directly relate to the value.
      
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
